<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t('spree.new_store') %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= link_to t('spree.back_to_store_list'), spree.admin_stores_path, class: 'button fa fa-icon-arrow-left' %>
  </li>
<% end %>

<div data-hook="admin_store_new_form_header">
  <%= render 'spree/shared/error_messages', target: @store %>
</div>

<div data-hook="admin_store_new_form">
  <%= form_for [:admin, @store], :html => {:multipart => true}  do |f| %>
    <fieldset class="no-border-top">
      <%= render 'form', f: f %>

      <div class="clear"></div>

      <div data-hook="admin_store_new_form_buttons">
        <%= render 'spree/admin/shared/new_resource_links' %>
      </div>
    </fieldset>
  <% end %>
</div>
